@media screen and (min-width: 578px) and (max-width:768px) {
    .h2_OurServices_header{
        font-size: 24px;	font-weight: bold;	letter-spacing: -0.33px;	line-height: 48px; margin: 0%;
    }
    .span_OurServices_serviceDescription{
        font-size: 16px;	line-height: 28px;	text-align: center;
    }
    .OurServices div{
        grid-template-columns:repeat(2, minmax(200px, 445px));
        grid-gap: 10px;
    }
    .OurServices{
        /* padding: 41px; */
        width: 560px;
        margin: auto;
        margin-top: 10px;
    }   
}
@media screen and (min-width: 320px) and (max-width:577px) {
    .h2_OurServices_header{
        font-size: 24px;	font-weight: bold;	letter-spacing: -0.33px;	line-height: 20px; margin: 0px;
    }
    .span_OurServices_serviceDescription{
        font-size: 14px;	line-height: 28px;	text-align: center; margin: 0px;
    }
    .OurServices div{
        grid-template-columns:repeat(1, minmax(200px, 310px));
        grid-gap: 0px;
    }
    .OurServices{
        /* padding: 41px; */
        width: 310px;
        margin: auto;
        margin-top: 20px;
    }   
}