.OurServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:60px
}
.OurServices div {
  display: grid;
  grid-template-columns: repeat(3, minmax(5vw, 26vw));
  grid-gap: 1rem;
}
figure{
  margin: 10px 0px;
}