.OurServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:1115px;
  margin: auto;
  margin-top:120px;

}
.OurServices div {
  display: grid;
  grid-template-columns: repeat(3, minmax(5vw, 26vw));
  grid-gap: 1rem;
}
figure{
  margin: 10px 0px;
}
.h2_OurServices_header{
  color:#000;
  font-weight: bold;
  margin: 15px 0px;
}
.span_OurServices_serviceDescription{
  margin-bottom: 50px;
}