@media screen and (min-width: 1024px) and (max-width:1439px) {
    .Hero{
        /* padding:41px; */
        width:936px;
        margin: auto;
    }
    .h2_Hero_companyName{
        font-size: 36px;	letter-spacing: -0.49px;	line-height: 48px; text-transform: lowercase; font-style: italic;
    }
    .h1_Hero_tagLine{
        font-size: 48px;	font-weight: 800;	letter-spacing: -0.46px; margin: 10px 0px;
    }
    .span_Hero_heroDescription{
        margin: 10px 0px 21px 0px;
        font-size: 18px;	line-height: 28px;
        max-width: 80%;
    }
    .Button_Hero_contactButton{
        width:270px;
        height: 50px;
        margin: 0px;
      }
 }
 