@media screen and (min-width: 768px) and (max-width:1023px) {
    .Hero{
        /* padding:24px; */
        width: 726px;
        margin: auto;
    }
    .h2_Hero_companyName{
        font-size: 32px;	letter-spacing: -0.44px;	line-height: 48px; text-transform: lowercase; font-style: italic;margin: 0px;
    }
    .h1_Hero_tagLine{
        margin:0px 0px 0px 0px;
        font-size: 40px;	font-weight: 800;	letter-spacing: -0.38px;	line-height: 39px;
    }
    .span_Hero_heroDescription{
        margin: 11px 0px 14px 0px;
        font-size: 18px;	line-height: 28px;
    }
    .Button_Hero_contactButton{
        width:270px;
        height: 50px;
        margin: 0px;
        font-size: 16px;
      }
}