.Carousel {
}
/* .hidden{
    transition: 2000ms;
    visibility: hidden;
    opacity: 0;
}
.visible{
    transition:2000ms;
    opacity: 1;
} */

.div_Carousel_GridWrapper{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1115px));
    grid-gap: 1rem;
}

figure{
    text-align: center
}

#div_carousel_home_top_wrapper figure img{
    height:289px;
    width:1115px;
    border-radius: 5px;
    object-fit: cover;
}
.div_Carousel_wrapper{
    display: flex;
    justify-content:center;
    margin-top:50px;
    max-width: 1115px;
}