.Carousel {
}
/* .hidden{
    transition: 2000ms;
    visibility: hidden;
    opacity: 0;
}
.visible{
    transition:2000ms;
    opacity: 1;
} */

.div_Carousel_GridWrapper{
    display: grid;
    grid-template-columns: repeat(3, minmax(5vw, 26vw));
    grid-gap: 1rem;
}

figure{
    text-align: center
}