.Button {
  /* Button: */
  background: #000000;
  border-radius: 100px;
  padding: 1em 3em;
  cursor: pointer;

  background-image: linear-gradient(144deg, #ff4b1f 0%, #ff9068 100%);
  transition: background-image 2s;
  /* Button: */
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
}
.Button:hover {
  background-image: none;
  background-color: var(--primary);
}
.Button:focus {
  outline: none;
}
