.Contact {
  color: white !important;
  height: 558px;
  max-width: 100%;
  background-image: url("./contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right !important;
  margin-top:-40px;
}

.Contact div h1,
h2 {
  color: white;
}

.Contact div {
  position: relative;
  top: 15%;
  right: 5%;
}
.Contact div p {
  text-transform: uppercase;
}
.Contact div{
  width: 1440px;
  margin: auto;
}
.div_Contact_contactData h2{
  text-transform: lowercase;
  font-style: italic;
  margin: 0px;
}
.div_Contact_contactData h1{
  margin-top:20px; 
}

.div_Contact_contactData *{
  margin: initial 0px;
}