.Contact {
  color: white !important;
  height: 650px;
  max-width: 100%;
  background-image: url("./1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-align: right !important;
  /* margin-top:-40px; */
}

.Contact div h1,
h2 {
  color: white;
}

/* .Contact div {
  position: relative;
  top: 15%;
  right: 5%;
} */
.div_Contact_contactData{
  padding-top: 150px;
}
.Contact div p {
  text-transform: uppercase;
}
.Contact div{
  width: 1115px;
  margin: auto;
}
.div_Contact_contactData h2{
  text-transform: lowercase;
  font-style: italic;
  margin: 0px;
}
.div_Contact_contactData h1{
  margin-top:10px;
  margin-bottom: 20px; 
  font-size: 44px;	font-weight: bold;	letter-spacing: -0.6px;	line-height: 48px;
}

.div_Contact_contactData *{
  margin: initial 0px;
}