@media screen and (min-width: 1024px) and (max-width:1439px) {
    .Footer{
        padding: 0px 41px;
        justify-content: space-between;
        height: 105px;
        width: 1024px;
        margin: auto;
    }
    .Footer span{
        flex:2;
        text-align: left;
        font-size: 14px;	line-height: 28px;
    }
    .Footer ul{
        flex:1.8;
        justify-content: space-between;
        font-size: 16px;	font-weight: 600;	line-height: 19px;
    }
 }
 