@media screen and (min-width: 578px) and (max-width:767px) {
    .OurClients{
        justify-content: space-between;
        width: 560px;
    }
    .div_OurClients_clientListWrapper p{
        font-size: 12px;	line-height: 28px;	text-align: center; margin: 5px 0px;
    }
}
@media screen and (min-width: 320px) and (max-width:577px) {
    .OurClients{
        justify-content: space-around;
        position: relative;
        padding: 0px;
        width: 100%;
        margin: 0px;
    }
    .div_OurClients_clientListWrapper p{
        font-size: 12px;	line-height: 28px;	text-align: center; margin: 10px 0px; max-width: 250px; line-height: 15px;
    }
    .h2_OurClients_header{
        font-size: 24px;
        font-weight: bold;
        margin: 2px;
    }
    .h2_OurClients_description{
        font-size: 12px;
        margin: 2px;
    }
    .img_OurClients_Arrow{
        height: 30px;
        width: 30px;
    }
}