.OurClients {
  height: 223px;
  display: flex;
  align-items: center;
  margin-top: 100px;
  padding: 0px 0px;
  width: 1250px;
  margin: auto;
}
.OurClientsWrapper{
  background-image: linear-gradient(144deg, #ff4b1f 0%, #ff9068 100%);
}

.OurClients div:nth-child(1) {
  flex: 1;
  cursor: pointer;
  transition: transform 1s;
}
.OurClients div:nth-child(1):hover {
  flex: 1;
  cursor: pointer;
  transition: transform 1s;
  transform: scale(1.05);
}
.OurClients div:nth-child(2) {
  flex: 3;
}
.OurClients div:nth-last-child(1) {
  flex: 1;
  cursor: pointer;
}
.OurClients div:nth-last-child(1):hover {
  flex: 1;
  cursor: pointer;
  transform: scale(1.05);
}

.h2_OurClients_header{
  color:#fff;
}
.h2_OurClients_description{
  font-size: 18px;
  color: #fff;
}
.div_OurClients_clientListWrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.div_OurClients_clientListWrapper p{
  color:#fff;
  font-size: 20px;
  width: 350px;
  text-transform: uppercase;
}