@media screen and (min-width: 768px) and (max-width:1023px) {
    .OurClients{
        justify-content: space-between;
    }
    .div_OurClients_clientListWrapper p{
        font-size: 18px;	line-height: 28px;	text-align: center; margin: 5px 0px;
    }
}