@import "assets/fonts/fonts.css";

:root {
  --primary: #ff9068;
  --secondary: #333333;
  --secondary-light: #818181;
  --secondary-lighter: #5d5d5d;
  --WHITE: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
