@media screen and (min-width: 1024px) and (max-width:1439px) {
    .Navbar div.div_LogoWrapper_Navbar{
        /* padding: 0px 40px; */
        flex:2.5
    }
    .Navbar div.div_LogoWrapper_Navbar a img{
        padding: 0px 0px;
    }
    .Navbar ul{
        flex:2.5;
        /* padding: 0px 39px 0px 0px; */
        max-width: 464px;
        justify-content: space-between;
    }
    .Navbar a{
        font-size: 16px;
        font-weight: 500;
    }
    .Navbar{
        width: 936px;
        margin: auto;
        text-align: center;
        justify-content: center;
    }
 }
 