.Navbar {
  display: flex;
  height: 100px;
  width: 1440px;
  margin: auto;
}

.Navbar div.div_LogoWrapper_Navbar {
  flex: 4;
  text-align: left;
  padding: 0px 8rem;
}

.Navbar div img {
  padding: 0em 1em 1em 1em;
}

.Navbar ul {
  flex: 2.5;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 125px 0px 100px;
}

.Navbar li {
  display: inline-block;
}

.Navbar a {
  color: var(--secondary);
}

.Navbar a:hover {
  color: var(--primary);
}
