.Ticker {
  background-image: linear-gradient(144deg, #ff4b1f 0%, #ff9068 100%);
  height: 50px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.71px;
  text-align: center;
  line-height: 22px;
}
